// Custom styles.
body{    
	/* 设置背景图片
	background:url(/img/header_img/home.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;*/
	
	/* 设置背景颜色
	background-color:RGB(25,15,13);*/
}

.authorLabel {
    background:0;
    border:1px solid #e78170;
    color:#e78170;
    text-shadow:none;
    font-size:11px;
    font-weight:normal;
    line-height:1;
    padding:2px 4px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px
}