<%- partial('_partial/header', {headerType: 'archive'}) %>

<!-- Post Main Content -->
<div class="post-content" style="text-align:center;">
  <%- page.content %>
</div>

<%- partial('_partial/pagination') %>
