/* normal style */
.post-tags,
.post-info
  font-size remify(14px)
  font-style italic
  text-align center
.post-info
  margin-bottom remify(5px)
  .info
    padding 0 remify(8px)
    border-right 1px dotted $theme-dotted-seperator
    &:last-child
      border-right none
  .categories a
    padding remify(2px) remify(4px)
    border-radius remify(2px)
.post-tags
  font-style italic
  > a
    display inline-block
    padding 0 remify(4px)
    margin-right remify(2px)
    border-radius remify(2px)
.post-content
  padding-top remify(40px)
  padding-bottom @padding-top
  font-size remify(15px)

/* mobile style */
@media only screen and (max-width: 414px)
  .post-tags,
  .post-info
    font-size remify(12px)
    .info
      padding 0 remify(5px)
    .time
      display none
  .post-content
    font-size remify(12.5px)

/* YPN Add 2017-02-27 新增文章目录样式 */
/* toc */
.toc-article
  background #eee
  border 1px solid #bbb
  border-radius 10px
  /*margin 1.5em 0 0.3em 1.5em*/
  padding 1.2em 1em 0 1em
  max-width 100%

.toc-title
  font-size 120%

#toc
  line-height 1em
  font-size 0.9em
  /*float right*/
.toc
  padding 0
  margin 1em
  line-height 1.8em
  li
  list-style-type none

.toc-child 
  margin-left 1em

/* toc-links */
.toc-article-links
  background #eee
  border 1px solid #bbb
  border-radius 10px
  margin 1.5em 0 0.3em 1.5em
  padding 1.2em 1em 0 1em
  max-width 20%
  float right

.toc-title-links
  font-size 120%
  #toc
    line-height 1em
    font-size 0.9em
    float right
  .toc
    padding 0
    margin 1em
    line-height 1.8em
    li
    list-style-type none

  .toc-child 
    margin-left 1em
